
*.py linguist-language=Python
*.py linguist-detectable=true

build/** linguist-vendored
dist/** linguist-vendored

*.html linguist-vendored
*.tex linguist-vendored
*.spec linguist-vendored
